<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=NJCourts.accdb;Persist Security Info=False;" />
      <add key="DateFiltersFile" value="_DateFilesFilters.txt"/>
      <add key="DateFiltersFormat" value="MM/dd/yyyy"/>
      <add key="DateFiltersStateFile" value="_DateFilterState.txt"/>
      <add key="ExcelExportDir" value="C:\Temp\NJCourts\Output"/>
      <add key="InputDirectory" value="C:\Temp\NJCourts\Config"/>
      <add key="ProcessName" value="PGT_NJCourts"/>
      <add key="ProcessPath" value="C:\Temp\NJCourts\PGT_NJCourts.exe"/>
      <add key="SelectedCountiesFile" value="_Counties.txt"/>
      <add key="StopFilePath" value="C:\Temp\NJCourts\Stop.txt"/>
      <add key="ZipCodeFiltersFile" value="_ZipCodeFilter.txt"/>
      <add key="ZipCodeFilterStateFile" value="_ZipFilterState.txt"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>