<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="DateFiltersFile" value="_DateFiledFilters.txt"/>
      <add key="InputDirectory" value="C:\Temp\NJCourts\Config"/>
      <add key="ProcessName" value="PGT_NJCourts.exe"/>
      <add key="ProcessPath" value="C:\Temp\NJCourts\PGT_NJCourts.exe"/>
      <add key="StopFilePath" value="C:\Temp\NJCourts\Stop.txt"/>
      <add key="ZipCodeFiltersFile" value="_ZipCodeFilter.txt"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>